@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --p-text-color: #757575;
  --white-text-color: #FFFFFF;
  --modal-bg-color: #ffffff;
  --button-bg-color: #F5F4FA;
  --team-section-bg-color: #F5F4FA;
  --accent-color: #2196F3;
  --hero-and-footer-bg-color: #2F303A;
  --icon-color: #AFB1B8;
  --footer-bg-icon-color: #44454E;
  --portfolio-card-border-color: #EEEEEE;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 90px;
  height: 100%;
}

.logo .logo-blue {
  display: flex;
  align-items: center;
  color: var(--accent-color);
  height: 100%;
}

.logo .logo-white {
  color: var(--white-text-color);
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
  height: 80px;
}

/* ------- БЛОК КОНТАКТОВ ------- */
.header-contacts {
  display: flex;
  align-items: baseline;
  height: 80px;
}

.header-contacts .link {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--p-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts .link:not(:last-child) {
  margin-right: 48px;
}

.header-contacts .link:hover, .header-contacts .link:focus {
  color: var(--accent-color);
}

.header-contacts .link:hover .header-svg,
.header-contacts .link:focus .header-svg {
  fill: currentColor;
}

.header-svg {
  margin-right: 10px;
  fill: var(--icon-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
  height: 80px;
}

/* ------- БЛОК КОНТАКТОВ ------- */
.header-contacts {
  display: flex;
  align-items: baseline;
  height: 80px;
}

.header-contacts .link {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--p-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts .link:not(:last-child) {
  margin-right: 48px;
}

.header-contacts .link:hover, .header-contacts .link:focus {
  color: var(--accent-color);
}

.header-contacts .link:hover .header-svg,
.header-contacts .link:focus .header-svg {
  fill: currentColor;
}

.header-svg {
  margin-right: 10px;
  fill: var(--icon-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav {
  display: flex;
  height: 100%;
}

.nav-list {
  display: flex;
  height: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  list-style: none;
}

.nav-list .link {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--primary-text-color);
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list .link.current {
  position: relative;
  color: var(--accent-color);
}

.nav-list .link.current::after {
  display: block;
  position: absolute;
  bottom: 0;
  content: '';
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

.nav-list .link:hover, .nav-list .link:focus {
  color: var(--accent-color);
}

.nav-item {
  height: 100%;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.hero {
  background-color: var(--hero-and-footer-bg-color);
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img.jpeg);
  background-position: center;
  background-size: cover;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 696px;
}

.features-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.features-list .item-title {
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-list .item-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--p-text-color);
}

.features-list__item {
  width: 270px;
}

.features-list__icon {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--team-section-bg-color);
  margin-bottom: 30px;
}

.clients-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 50px;
}

.clients-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list .link:hover, .clients-list .link:focus {
  border: 1px solid var(--accent-color);
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-svg {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover .clients-svg,
.link:focus .clients-svg {
  fill: var(--accent-color);
}

.button-primary {
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.activity {
  padding-top: 0;
}

.activity-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.activity-list__item:not(:last-child) {
  margin-right: 30px;
}

.activity-list__link {
  position: relative;
  text-decoration: none;
}

.activity-list__subblock {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.activity-list__title {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.team {
  background-color: var(--team-section-bg-color);
}

.team-list {
  list-style: none;
  display: flex;
  margin-top: 50px;
}

.team-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__item:not(:last-child) {
  margin-right: 30px;
}

.team-list__img {
  display: block;
}

.team-list__footer {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--white-text-color);
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.team-list__title {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--p-text-color);
}

.socials-list {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 16px;
}

.socials-list__item:not(:last-child) {
  margin-right: 10px;
}

.socials-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list__link:hover, .socials-list__link:focus {
  background-color: var(--accent-color);
}

.socials-list__link:hover .socials-list__svg,
.socials-list__link:focus .socials-list__svg {
  fill: var(--white-text-color);
}

.socials-list__svg {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--hero-and-footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-left {
  margin-right: 70px;
}

/* ЛОГО ФУТЕРА "Studio" */
.span-footer {
  color: var(--white-text-color);
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  margin-top: 20px;
  margin-bottom: 9px;
}

.contacts {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: block;
}

.contacts:not(:last-child) {
  margin-bottom: 9px;
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

.right-footer-text {
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.footer-icons-list {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 20px;
}

.footer-icons-item:not(:last-child) {
  margin-right: 10px;
}

.footer-icons-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  justify-content: center;
  background-color: var(--footer-bg-icon-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-svg {
  width: 20px;
  height: 20px;
  fill: var(--white-text-color);
}

.footer-icons-link:hover,
.footer-icons-link:focus {
  background-color: var(--accent-color);
}

/* -------- ФОРМА ФУТЕРА -------- */
.footer-form-div {
  margin-left: 93px;
}

.footer-form {
  margin-top: 20px;
  display: flex;
}

.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input {
  width: 353px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 0 16px;
  color: var(--white-text-color);
}

.footer-form-bnt {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 28px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  outline: none;
}

.send-svg {
  width: 24px;
  height: 24px;
  fill: var(--white-text-color);
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */