/* -- ФИЛЬТР -- */
.filter-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-item:not(:last-child) {
    margin-right: 8px;
}

.filter-list .item-button {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--button-bg-color);
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;
    border: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list .item-button:hover, 
.filter-list .item-button:focus {
    color: var(--white-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* -- КАРТОЧКИ -- */

.portfolio-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    position: relative;
    margin-bottom: 30px;
}

.card-link {
    text-decoration: none;
    display: block;
}

.card-img {
    position: relative;
    display: block;
    overflow: hidden;
}

.card-img::before {
    display: inline-block;
    position: absolute;
    content: 'Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов.';
    width: 100%;
    height: 100%;
    top: 100%;
    right: 0;
    transition: top 300ms linear;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: top;
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    color: #FFFFFF;
}

.card-img .img {
    display: block;
}

.card-link:hover,
.card-link:hover .card-img::before {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    top: 0;
    
}

.card-footer {
    padding: 20px 24px;
    border: 1px solid var(--portfolio-card-border-color);

}

.card-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}

/* ТЕКСТ КАРТОЧЕК */
.card-text {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--p-text-color);
}