.socials-list {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 16px;
}

.socials-list__item {
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.socials-list__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 12px;
    justify-content: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, 
    &:focus {
        background-color: var(--accent-color);
    }
    &:hover .socials-list__svg, 
    &:focus .socials-list__svg {
        fill: var(--white-text-color);
    }
}

.socials-list__svg {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

// .socials-list__link:hover,
// .socials-list__link:focus {
//     background-color: var(--accent-color);
// }

// .socials-list__link:hover .socials-list__svg,
// .socials-list__link:focus .socials-list__svg {
//     fill: var(--white-text-color);
// }