.team {
    background-color: var(--team-section-bg-color);
}

.team-list {
    list-style: none;
    display: flex;
    margin-top: 50px;
}

.team-list__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list__item:not(:last-child) {
    margin-right: 30px;
}

.team-list__img {
    display: block;
}

.team-list__footer {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--white-text-color);
}

.team-list__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.team-list__title {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--p-text-color);
}



// .socials-list {
//     display: flex;
//     list-style: none;
//     justify-content: center;
//     margin-top: 16px;
// }

// .socials-list__item:not(:last-child) {
//     margin-right: 10px;
// }

// .socials-list__link {
//     display: flex;
//     width: 44px;
//     height: 44px;
//     border-radius: 50%;
//     padding: 12px;
//     justify-content: center;

//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }

// .socials-list__svg {
//     width: 20px;
//     height: 20px;
//     fill: var(--icon-color);
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }

// .socials-list__link:hover,
// .socials-list__link:focus {
//     background-color: var(--accent-color);
// }

// .socials-list__link:hover .socials-list__svg,
// .socials-list__link:focus .socials-list__svg {
//     fill: var(--white-text-color);
// }